In [15]:
#pandas - data handler | DataFrames

#a python library which is used for working with Datasets
#functions for analyzing, cleaning, exploring and manipulating data

#panel data / python data analysis

#analyze big data and make conclusion based on statistical theory

#can clean messy data and make those readable and reliable
#relevant data is very important for data science

In [17]:
import pandas as pd
a=[1,7,2]

vr = pd.Series(a) #if nothing specified the values are leveled by index number
print(vr)

0    1
1    7
2    2
dtype: int64

In [18]:
#create labels
a=[1,7,2]

vr = pd.Series(a,index=["x","y","z"]) 
print(vr)

x    1
y    7
z    2
dtype: int64

In [5]:
print(vr["y"])

7

In [6]:
#pandas - dataframe
#dataframe is a 2d data structure like a 2d array wih rows and columns

In [19]:
data =  {
    "calories": [42,323,402],
    "duration": [12,50,72]
}

df = pd.DataFrame(data) #convert to pandas dataframe

print(df)

   calories  duration
0        42        12
1       323        50
2       402        72

In [20]:
#refer to the row index:
print(df.loc[0])

calories    42
duration    12
Name: 0, dtype: int64

In [21]:
#refer to a list of index:
print(df.loc[[0,1]])

   calories  duration
0        42        12
1       323        50

In [22]:
#data file CSV

df = pd.read_csv('data.csv',low_memory=False)
print(df)

      Series_reference   Period   Data_value STATUS  UNITS  \
0            CEPQ.S611  1989.12   456.670842  FINAL  Index
1            CEPQ.S611  1990.03   458.954197  FINAL  Index
2            CEPQ.S611  1990.06   466.717601  FINAL  Index
3            CEPQ.S611  1990.09   462.607563  FINAL  Index
4            CEPQ.S611  1990.12   467.174272  FINAL  Index
...                ...      ...          ...    ...    ...
73981   PPIQ.SQURS2110  2022.06  1432.000000  FINAL  Index
73982   PPIQ.SQURS2110  2022.09  1459.000000  FINAL  Index
73983   PPIQ.SQURS2110  2022.12  1552.000000  FINAL  Index
73984   PPIQ.SQURS2110  2023.03  1523.000000  FINAL  Index
73985   PPIQ.SQURS2110  2023.06  1549.000000  FINAL  Index

                               Subject  \
0      Capital Goods Price Index - CEP
1      Capital Goods Price Index - CEP
2      Capital Goods Price Index - CEP
3      Capital Goods Price Index - CEP
4      Capital Goods Price Index - CEP
...                                ...
73981      Producers Price Index - PPI
73982      Producers Price Index - PPI
73983      Producers Price Index - PPI
73984      Producers Price Index - PPI
73985      Producers Price Index - PPI

                                                   Group  \
0      Price Index all groups of capital goods (Base:...
1      Price Index all groups of capital goods (Base:...
2      Price Index all groups of capital goods (Base:...
3      Price Index all groups of capital goods (Base:...
4      Price Index all groups of capital goods (Base:...
...                                                  ...
73981  Outputs (ANZSIC06) - NZSIOC level 4, Base: Dec...
73982  Outputs (ANZSIC06) - NZSIOC level 4, Base: Dec...
73983  Outputs (ANZSIC06) - NZSIOC level 4, Base: Dec...
73984  Outputs (ANZSIC06) - NZSIOC level 4, Base: Dec...
73985  Outputs (ANZSIC06) - NZSIOC level 4, Base: Dec...

               Series_title_1 Series_title_2  Series_title_3  Series_title_4  \
0                  All Groups            NaN             NaN             NaN
1                  All Groups            NaN             NaN             NaN
2                  All Groups            NaN             NaN             NaN
3                  All Groups            NaN             NaN             NaN
4                  All Groups            NaN             NaN             NaN
...                       ...            ...             ...             ...
73981  Repair and Maintenance            NaN             NaN             NaN
73982  Repair and Maintenance            NaN             NaN             NaN
73983  Repair and Maintenance            NaN             NaN             NaN
73984  Repair and Maintenance            NaN             NaN             NaN
73985  Repair and Maintenance            NaN             NaN             NaN

       Series_title_5
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
73981             NaN
73982             NaN
73983             NaN
73984             NaN
73985             NaN

[73986 rows x 12 columns]

In [23]:
#data file CSV

df = pd.read_csv('people-100.csv')
print(df)

    Index          User Id First Name  Last Name     Sex  \
0       1  88F7B33d2bcf9f5     Shelby    Terrell    Male
1       2  f90cD3E76f1A9b9    Phillip    Summers  Female
2       3  DbeAb8CcdfeFC2c   Kristine     Travis    Male
3       4  A31Bee3c201ef58    Yesenia   Martinez    Male
4       5  1bA7A3dc874da3c       Lori       Todd    Male
..    ...              ...        ...        ...     ...
95     96  5eFda7caAeB260E     Dennis     Barnes  Female
96     97  CCbFce93d3720bE      Steve  Patterson  Female
97     98  2fEc528aFAF0b69     Wesley       Bray    Male
98     99  Adc7ad9B6e4A1Fe     Summer   Oconnell  Female
99    100  b8D0aD3490FC7e1     Mariah    Bernard    Male

                         Email                   Phone Date of birth  \
0         elijah57@example.net  001-084-906-7849x73518      26-10-45
1        bethany14@example.com       214.112.6044x4913      24-03-10
2        bthompson@example.com            277.609.7938      02-07-92
3    kaitlinkaiser@example.com            584.094.6111      03-08-17
4   buchananmanuel@example.net       689-207-3558x7233      01-12-38
..                         ...                     ...           ...
95         bmartin@example.org    001-095-524-2112x257      30-07-54
96       latasha46@example.net        001-865-478-5157      29-04-32
97        regina11@example.org      995-542-3004x76800      28-12-94
98  alexiscantrell@example.org    001-273-685-6932x092      12-04-12
99       pcopeland@example.org     (341)594-6554x44657      15-11-16

                Job Title
0         Games developer
1          Phytotherapist
2                     NaN
3       Market researcher
4      Veterinary surgeon
..                    ...
95      Software engineer
96              Barrister
97         Police officer
98   Broadcast journalist
99  IT sales professional

[100 rows x 9 columns]

In [34]:
#Cleaning Data - dealing with empty sets


peo10 = pd.read_csv('peo-10.csv')


new_peo10 = peo10.dropna() #create a new csv dataform where the NAN i.e. blank record fields are removed
print(peo10.to_string())
print("--------------------------------------------------------------------")
print(new_peo10.to_string())

   Index          User Id First Name Last Name     Sex Date of birth
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male      26-10-45
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female      24-03-10
2      3  DbeAb8CcdfeFC2c   Kristine    Travis     NaN      02-07-92
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male      03-08-17
4      5  1bA7A3dc874da3c        NaN      Todd    Male      01-12-38
5      6  bfDD7CDEF5D865B       Erin       Day    Male      28-10-15
6      7  bE9EEf34cB72AF7  Katherine      Buck     NaN      22-01-89
7      8  2EFC6A4e77FaEaC    Ricardo    Hinton    Male      26-03-24
8      9  baDcC4DeefD8dEB       Dave   Farrell    Male      06-10-18
9     10         24r3r34t     whanda        dw    Male           NaN
--------------------------------------------------------------------
   Index          User Id First Name Last Name     Sex Date of birth
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male      26-10-45
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female      24-03-10
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male      03-08-17
5      6  bfDD7CDEF5D865B       Erin       Day    Male      28-10-15
7      8  2EFC6A4e77FaEaC    Ricardo    Hinton    Male      26-03-24
8      9  baDcC4DeefD8dEB       Dave   Farrell    Male      06-10-18

In [36]:
#Mode = the value that appers the most frequently

peo10 = pd.read_csv('peo-10.csv')

peo10.dropna(inplace=True) #change original dataframe

print(peo10.to_string())

   Index          User Id First Name Last Name     Sex Date of birth
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male      26-10-45
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female      24-03-10
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male      03-08-17
5      6  bfDD7CDEF5D865B       Erin       Day    Male      28-10-15
7      8  2EFC6A4e77FaEaC    Ricardo    Hinton    Male      26-03-24
8      9  baDcC4DeefD8dEB       Dave   Farrell    Male      06-10-18

In [40]:
#Remove Duplicates
dup = pd.read_csv('peo-10.csv')



print(dup.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
dtype: bool

In [43]:
#remove duplicates from original
dup.drop_duplicates(inplace= True)
print(dup.to_string())

   Index          User Id First Name Last Name     Sex Date of birth
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male      26-10-45
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female      24-03-10
2      3  DbeAb8CcdfeFC2c   Kristine    Travis     NaN      02-07-92
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male      03-08-17
4      5  1bA7A3dc874da3c        NaN      Todd    Male      01-12-38
5      6  bfDD7CDEF5D865B       Erin       Day    Male      28-10-15
6      7  bE9EEf34cB72AF7  Katherine      Buck     NaN      22-01-89
7      8  2EFC6A4e77FaEaC    Ricardo    Hinton    Male      26-03-24
8      9  baDcC4DeefD8dEB       Dave   Farrell    Male      06-10-18
9     10         24r3r34t     whanda        dw    Male           NaN

In [ ]:
#Pandas - Data Correlations : finding relationships

#corr() - method ignores "non - numeric" columns

#finds the pelationshios between each column in the data set

#corr() - reads data and find their relations 
#from -1 to +1 

#+1 = one to one relationship- perfect relationship- eachtime a value went up in 1st cilumn others went up as well
# .9 = also good - one goes up then other goes up
# -.9 = increase one value the other will go down

#.2 .1 are not good relationship

In [45]:
cal = pd.read_csv('cal.csv')
print(cal)
cal.corr()

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000